



<main class="main">
  <div class="container">
    <h1>Simple Notes</h1>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noteCreateModal">
      Create new note
    </button>
    <div class="row my-3">

    </div>
    <div class="row" *ngIf="notes; else blankNote">
      <div *ngFor="let note of notes; let i = index" class="col-2 m-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{note.title}}</h5>
            <p class="card-text">
              {{note.content}}
            </p>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#noteViewModal" (click)="viewNote(i)">View</button>
            <button type="button" class="btn btn-danger" (click)="deleteNote(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #blankNote>
      <div class="row my-3"><p>No Note available</p></div>
      
    </ng-template>
  

    <!-- createModal -->
    <div class="modal fade" id="noteCreateModal" tabindex="-1" aria-labelledby="noteCreateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="noteCreateModalLabel">New Note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit($event)" #noteForm="ngForm" method="post" id="createForm">
              <div class="row mb-2">
                <label class="col-3" for="title">Title:</label>
                <input class="col" type="text" id="title" name="title" ngModel>
              </div>
              <div class="row">
                <label class="col-3" for="content">Content:</label>
                <textarea class="col" id="content" name="content" required ngModel></textarea>
              </div>
              <hr>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary col mx-2">Save changes</button>
                <button type="button" class="btn btn-secondary col" data-bs-dismiss="modal" id="closeCreateModal">Close</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- createModal end-->

    <!-- ViewModal -->
    <div class="modal fade" id="noteViewModal" tabindex="-1" aria-labelledby="noteViewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="noteViewModalHeader">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="noteViewModalContent">
            
          </div>
        </div>
      </div>
    </div>
    <!-- ViewModal end-->
  </div>
</main>



<router-outlet />
